@font-face {
  src: url("../public/fonts/Pretendard-Regular.woff2");
  font-family: "Pretendard-Regular";
}

@font-face {
  src: url("../public/fonts//Pretendard-Bold.woff2");
  font-family: "Pretendard-Bold";
}
